body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form {
    border: 5px solid coral;
    width: 400px;
    border-radius: 10px;
}


.search-form__input {
    border: 0;
    outline: 0;
    background: transparent;
    padding: 15px 10px;
    width: 380px;
}

.search-form__btn {
    width: 100%;
    color: #fff;
    border: 0;
    outline: 0;
    background: coral;
    padding: 15px 10px;
    cursor: pointer;
}

